@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');

/* This is a comment! */

/* CSS Syntax:

selector {
  property: value;
  property; value;
}

*/

/* Type selector */

p{/* select all <p> */
  font-size: 16px; */16px, ?pt, 100%, 1em */ font size methods we can use
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

/* Class selector (applied to as many elements you like) */

.milk-text { /* select elements with class="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}


/* ID slector (apply to one unique element per page) */
/*#starts with # for ID selector */
#logo { /* select elements with id="lgo" */
background: aqua
}


/* Descendent Selector */
#logo h1 { /* selects <h1> if inside the id="logo"*/
  font-family: 'Clicker Script', cursive;
}

#logo h2 {
  font-family: 'Elsie Swash Caps', cursive;
}


/* Pseudo Selector */
/* #details=Descendent selector , link is the pseduo selector*/
/* can combine both selectors if features doesnt change...ie: link color doesnt change when visted */
#details a:link, #details a:visited {
  color: black;
  text-decoration: none;
}

#details a:hover {
  color: black;
  text-decoration: underline;
}

#details a:active {
  color: red;
}
